<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.shj.book.mapper.BookMapper">
	<select id="getBookList" resultType="BookVO">
		SELECT * FROM book_tbl_06 ORDER BY book_no
	</select>
</mapper>