<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.shj.users.mapper.UsersMapper">
	<select id="mainSelectUsersList" resultType="UsersVO">
		SELECT user_id,
		       user_name,
		       user_date,
		       user_phone,
		       user_email
		FROM users 
	</select>
	
	<select id="selectUsers" parameterType="UsersVO" resultType="UsersVO">
		SELECT user_id,
		       user_name,
		       user_date,
		       user_nic,
		       user_phone,
		       user_email
		FROM users
		WHERE user_no = #{userNo}
	</select>
</mapper>